@charset "utf-8"
           /* ページ全体　css */
           body{
             font-size:16px;
             background-color:ivory;
             background-image:url(images/gold_back.jpg);
             background-repeat:repeat-y;
           }
          /* リセット　css */
          h1,h2,h3,ul,li,p{
               margin:0;
               padding:0;
          }
           /* ヘッダー　css */
           header{
                width:640px;
                background-color:bisque;}
           h1{
             margin-left:20px;
             font-size:32px;
             color:darkred;
           }
          header p{margin-left:20px;}
           /* ナビゲーション　css */
           nav{
               padding-top:5px;
               padding-bottom:5px;
               overflow:hidden;
               background-color:burlywood;
           }
           nav ul{list-style-type:none;}
           nav li{
              width:298px;
              height:38px;
              margin-left:5px;
              margin-right:5px;
              padding:5px;
              line-height:38px;
              float:left;
              border:solid 1px brown;
              background-color:bisque;
           }
           /* メインコンテンツ　css */
           main{
                clear:both;
                width:620px;
                padding-top:10px;
                padding-bottom:10px;
                padding-left:20px;
                background-color:antiquewhite;
                overflow:hidden;
           }
           h2{
             font-size:24px;
             color:darkred;
           }
          .sweets{
               width:270px;
               padding:10px;
               margin-top:20px;
               margin-right:20px;
               float:left;
               background-color:burlywood;
          }
           h3{
             font-size:20px;
             color:brown;
           }
           /* フッター　css */
           footer{
                clear:both;
                width:600px;
                padding:20px;
                text-align:right;
                background-color:bisque;}
           
